DO_TOKEN=your_digitalocean_token
# DO_SSH_USER=ubuntu

AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_DEFAULT_REGION=eu-west-1

PROXMOX_URL=https://1.1.1.1.1:8006
PROXMOX_NODES=xxxx-pve01,xxxx-pve02,xxxx-pve03,xxxx-pve04,xxx-pve05
PROXMOX_USER=your-user-example
PROXMOX_TOKEN_NAME=provider
PROXMOX_TOKEN_SECRET=super-secret-secret
PROXMOX_DNS_DOMAIN=example.com
PROXMOX_DNS_SERVERS=1.1.1.1,2.2.2.2,3.3.3.3
# PROXMOX_SSH_USER=ubuntu

# GCP_SSH_USER=ubuntu
